<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Url Shortener" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% color_classes = case type.to_sym
        when :notice
          "bg-green-100 border-green-400 text-green-700"
        when :alert, :error
          "bg-red-100 border-red-400 text-red-700"
        else
          "bg-blue-100 border-blue-400 text-blue-700"
        end
      %>

      <div 
        id="flash-display" 
        class="fixed top-4 left-1/2 transform -translate-x-1/2 border px-4 py-2 rounded-lg shadow-md <%= color_classes %>"
      >
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>

  <script>
    setTimeout(function() {
      var notice = document.getElementById('flash-display');
      if (notice) notice.style.display = 'none';
    }, 3000);
  </script>
</html>
